form {
  width: 50%;
  margin: 30px auto;
  font-family: sans-serif;
}

.button-container {
  text-align: center;
}

.submit-button {
  background-color: rgb(35, 53, 220);
  color: white;
  border-radius: 5px;
  text-align: center;
  width: 50%;
  margin: 10px auto;
  border: none;
  outline: none;
  padding: 10px;
}

.text-input {
  padding: 10px;
  width: 100%;
  margin: 3px 0 20px;
}

.categories {
  padding: 10px;
  margin: 3px 0 20px;
  width: 100%;
}

.dates {
  text-align: center;
}